<html>
  <head><% include ./partials/head %></head>
  <body>
    <% include ./partials/facebook %>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
    		<h1><span></span>Team Fractals</h1>
        <br>
        <div class="col-md-6" style="text-align: left;">
          Welcome to the Team Fractals Website. Team Fractals is a new FIRST FTC
          team founded in the Northwest Suburbs in early October of 2016.
          We are a community team of four members. Please take some time to look
          around our website. We have an about page, a news page for recent updates
          on our team, and a sponsors page for potential sponsors. Thank you!
          <br>Sincerely, Team Fractals.
          <br><br>
        </div>
        <img class="col-md-6" src="assets/teamshot.jpeg"></img>
        <div style="padding: 30px;" class="fb-like" data-href="https://facebook.com/TeamFractals" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
