<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="js/three.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-app="homeapp">
    <navigation></navigation>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
    		<h1><span></span>Team Fractals</h1>
        <br>
        <div class="col-md-6" style="text-align: left;">
          Welcome to the Team Fractals Website. Team Fractals is a new FIRST FTC
          team founded in the Northwest Suburbs in early October of 2016.
          We are a community team of four members. Please take some time to look
          around our website. We have an about page, a news page for recent updates
          on our team, and a sponsors page for potential sponsors. Thank you!
          <br>Sincerely, Team Fractals.
          <br><br>
        </div>
        <img class="col-md-6" src="assets/firstlogo.png"></img>
      </div>
    <div class="footer">
      <p style="float: left; color: #CCCCCC"> &copy; Team Fractals, 2016 </p>
    </div>
    </div>
  </body>
</html>
