<html>
  <head>
    <% include ./partials/head %>
    <script>
      $(document).ready(function() {
        $('#slideshow').cycle({
		        fx: 'fade'
      });
    });
    </script>
  </head>
  <body>
    <% include ./partials/facebook %>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
    		<h1><span></span>Team Fractals</h1>
        <br>
        <div class="col-md-6" style="text-align: left;">
          Welcome to the Team Fractals Website. Team Fractals is a new FIRST FTC
          team founded in the Northwest Suburbs in early October of 2016.
          We are a community team of four members. Please take some time to look
          around our website. We have an about page, a news page for recent updates
          on our team, and a sponsors page for potential sponsors. Thank you!
          <br>Sincerely, Team Fractals.
          <br><br>
        </div>
        <center>
        <div id="slideshow" style="float: right;">
      		<img src="assets/teamshot.jpeg" width="440" height="300" />
      		<img src="assets/sev.JPG" width="440" height="300" />
      		<img src="assets/robot.JPG" width="440" height="300" />
      		<img src="assets/program.JPG" width="440" height="300" />
      		<img src="assets/firstlogo.png" width="440" height="300" />
      	</div>
        <a style="float: right" href="//www.gofundme.com/first-illinois-robotics-ftc-12144?utm_medium=wdgt" title="Visit this page now.">Click to Donate Now!</a>
        </div>
        </center>
        <% include ./partials/like %>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
