<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="js/three.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-app="homeapp">
    <navigation></navigation>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
        <div class="col-md-6" style="text-align: left;">
          <a class="twitter-timeline" href="https://twitter.com/TeamFractals">
            Tweets by TeamFractals
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </a>
          <br><br>
        </div>
        <div class="col-md-6">
          <p>
            <strong>Updates Page</strong>
            <br><br>
            <p style="text-align: left;">
            <strong>12/10/16</strong> - Team Fractals takes 3rd place in second league qualifier!
            After completely rebuilding their robot, Team Fractals scored major points in beacons,
            a strategy they've used this entire season.
              <p>"I'm really happy with how the team worked together.<br>
              We ran into some problems with the robot, but we worked
              through them as a team. And that ultimately led to our success.</p>
              <br>
              -Max Bowman
            <br>
            <strong>11/12/16</strong> - Team Fractals takes 10th in their first league qualifier!
            Despite walking into the meet with a malfunctioning robot, the team
            managed to fix the robot in time for the first match. Unfortunately,
            they managed to burn out a motor and encoder, and the robot was not
            functional for one match. A great success for this rookie team!
            <br>
            <strong>10/09/16</strong> - Team Fractals is officially registered as Team #12144 on the
            last possible day to register.
            <br>
            <strong>10/07/16</strong> - Team Fractals is formed over a group chat between
            Daniel J. Perille, Max A. Bowman, and Sevan P. Brodjian.
            </p>
          </p>
        </div>
      </div>
    <div class="footer">
      <p style="float: left; color: #CCCCCC"> &copy; Team Fractals, 2016 </p>
    </div>
    </div>
  </body>
</html>
