<html>
  <head>
    <style>
      img {
        float: left;
        width: 320px;
        height: 240px;
      }
    </style>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/facebook %>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
    		<h1><span></span>Photo Gallery</h1>
        <br>
        <center>
        <div class="col-md-8" style="text-align: left;">
          Welcome to the Team Fractals photo gallery! Here you will find
          pictures of our robot, workshop (or living room, perhaps?), as well
          as pictures of the team at work. Enjoy!
          <br>
          <div style="margin: 0 auto; text-align: left;">
            <img src="assets/robot.JPG"></img>
            <img src="assets/program.JPG"></img>
            <br>
            <img src="assets/sev.JPG"></img>
            <video width="320" height="240" controls>
              <source src="assets/beaconvideo.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </center>
        </div>
        <div style="padding: 30px;" class="fb-like" data-href="https://facebook.com/TeamFractals" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
