<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team Fractals Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script
			  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="js/three.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-app="homeapp">
    <navigation></navigation>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Hi <%=user.local.email %>.</h3>
                    <% if (user.isScout) { %>
                      <!-- Load AngularJS app for scout. -->
                      <p>Welcome, Team Fractals scout.</p>
                      <p>Please record information on other teams below.</p>
                      <div class="well" ng-app="teamApp">
                        <button name="see" ng-click="teamOpen = !teamOpen">See teams</button>
                        <button name="show" ng-click="formOpen = !formOpen">Add team</button>
                        <!-- Show teams -->
                        <div ng-init="teamOpen = false" ng-show="teamOpen" id="showteams">
                          <p>List of team information from our database:</p>
                          <ul>
                            <% teams.forEach(function(teamList) { %>
                              <% teamList.forEach(function(team) { %>
                                <li><%= team %></li>
                              <% } %>
                            <% } %>
                          </ul>
                        </div>
                        <!-- Add teams -->
                        <br><br>
                        <form ng-init="formOpen = false" ng-show="formOpen" action="/profile" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="teamname" placeholder="Team name...">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="rank" placeholder="Team rank...">
                            </div>
                            <div class="form-group">
                                <textarea name="manualcapabilities" rows="10" class="form-control" placeholder="Manual capabilities..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="autonomouscapabilities" rows="10" class="form-control" placeholder="Autonomous capabilities..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="autonomousstrategy" rows="10" class="form-control" placeholder="Autonomous Strategy(s)..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="endgamestrategy" rows="10" class="form-control" placeholder="End game strategies..."></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="avg" placeholder="Average points scored...">
                            </div>
                            <button type="submit" class="btn btn-default">Send</button>
                        </form>
                      </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
