<html>
  <head><% include ./partials/head %></head>
  <body>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
        <h1>Services</h1>
        <br>
        <h3>Coming Soon!</h3>
        <p>In the future, our team hopes to provide a series of tutorials and
          widgets to help other teams. We plan on making tutorials that cover
          everything new teams need to know to get started quickly and efficiently.
          If you have any comments or questions, please contact us via our contact
          form or at <a href="mailto:team.fractal.ftc@gmail.com">
            team.fractal.ftc@gmail.com.</a>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
