<html>
  <head><% include ./partials/head %></head>
  <body>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
    		<h3><span></span>Our Sponsors</h3>
        <br>
        <div class="col-md-6" style="text-align: left;">
          Our team owes a tremendous thanks to CTS Corporation for sponsoring our
          team! Please visit their website <a href="http://www.ctscorp.com"> here</a>.
          <br>
          Another huge thanks to <a href="http://www.firstinspires.org">FIRST FTC</a> for an amazingly generous $800 starting grant!
          This grant allowed our team to purchase vital robotics equipment to build our first robot.
          <br>
          If you are interested in sponsoring our team please contact us using this website's
          contact form or email us at <% include ./partials/mailto %> Thank you!
          <br><br>
        </div>
        <img class="col-md-6" src="assets/firstlogo.png"></img>
        <img style="padding-top: 20px;" class="col-md-6" src="assets/ctslogo.png"></img>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
