<html>
  <head>
    <% include ./partials/head %>
    <script>$(document).ready(function() {$('#accordion').accordion();});</script>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container" style="overflow: auto">
    	<div id = "info" class="jumbotron text-center" style="overflow: auto">
        <h1>Tutorials</h1>
        <br>
        <p style="text-align: left;">In the near future, our team plans on making tutorials that cover
          everything new teams need to know in order to get started quickly. A brief summary of planned
          tutorials are below.
          If you have any comments or questions, please contact us via our <a href = "/contact">contact
          form</a> or at <% include ./partials/mailto %></p>
        <br>
        <h3>Planned Tutorials</h3>
        <br>
        <div id="accordion" style="text-align: left;">
          <h3>Introduction</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Basic Electronics</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Types of Motors</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Basic Frame</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Introduction to Programming in Android Studio</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Sensor Basics: Color and Touch</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
          <h3>Conclusion</h3>
          <div>
            <p>
            Coming soon!
            </p>
          </div>
        </div>
        <br>
        <h3 style="text-align: center;">Having trouble with code?</h3>
        <br>
        <p style="text-align: left;">If your team if having trouble with code, feel free to take a look at
          the Team Fractals GitHub Repository. It is well documented, and should
          help get your team started. If you have any questions or comments, please
          do not hesitate to either email us, use our contact form, or leave a comment.
        </p>
        <center>
        <a style="text-align: center;" href="https://github.com/mabsoftware/ftc"><img src="assets/github.png"></img></a>
        </center>
        <br>
        <h3>Comments</h3>
        <ul style="text-align: left; list-style: none;">
          <% for (var i = 0; i < comments.length; i++) { %>
            <% if (comments[i]["isApproved"]) { %>
              <li>
                <div class="well">
                  <p><strong><%= comments[i]["name"] %> - <%= comments[i]["subject"] %></strong>:
                  <%= comments[i]["message"] %></p>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>
        <div ng-app>
          <button class="btn-default" ng-click="addComment = !addComment">Write Comment</button>
          <div ng-init="addComment = false" ng-show="addComment">
            <br>
            <form action="/tutorials" method = "post">
              <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Name...">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Subject...">
              </div>
              <div class="form-group">
                  <textarea name="message" rows="10" class="form-control" placeholder="Message..."></textarea>
              </div>
              <input type="submit" class="btn btn-default">
            </form>
          </div>
        </div>
      </div>
    <% include ./partials/footer %>
    </div>
  </body>
</html>
